*.iml

.gradle/
/local.properties

.env

.DS_Store

/build
/captures
.externalNativeBuild

/.idea
/proguard

*.log
*.class

*.ipr
*.iws
*.jar
*.war

signing.properties

# release or maintenance scripts etc.
/*.local.sh

PlayStore.store
app/debug/
deployment_cert.der
play.store
privateKeyGenerika.store
run_emulator
server.p12
client.p12
upload_cert.der
upload_certificate.pem
upload_certificate_1.pem
generika.json
/app/src/main/java/org/oddb/generika/util/Secrets.java
