<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.oddb.generika">

    <!-- Barcode Reader Support (Vision API) -->
    <uses-feature android:name="android.hardware.camera" />

    <!-- Camera, Network Access, Local File -->
		<uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="org.oddb.generika.GenerikaApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".ImporterActivity"
            android:label="@string/importer"
            android:theme="@style/AppTheme.Translucent"
            android:windowSoftInputMode="stateHidden">

            <!-- these two sections below are needed for some apps can't handle
                 files with custom extension, correctly -->
            <intent-filter android:label="@string/app_name">
              <action android:name="android.intent.action.VIEW" />
              <category android:name="android.intent.category.DEFAULT" />
              <category android:name="android.intent.category.BROWSABLE" />
              <data android:mimeType="application/amk" />
            </intent-filter>

            <intent-filter android:label="@string/app_name">
              <action android:name="android.intent.action.VIEW" />
              <category android:name="android.intent.category.DEFAULT" />
              <category android:name="android.intent.category.BROWSABLE" />
              <data android:mimeType="application/octet-stream" />
            </intent-filter>

            <!-- scheme: https -->
            <intent-filter android:label="@string/app_name">
              <action android:name="android.intent.action.VIEW" />
              <category android:name="android.intent.category.DEFAULT" />
              <category android:name="android.intent.category.BROWSABLE" />
              <data
                android:scheme="https"
                android:host="*"
                android:mimeType="application/octet-stream"
                android:pathPattern=".*\\.amk" />
            </intent-filter>

            <intent-filter android:label="@string/app_name">
              <action android:name="android.intent.action.VIEW" />
              <category android:name="android.intent.category.DEFAULT" />
              <category android:name="android.intent.category.BROWSABLE" />
              <data
                android:scheme="https"
                android:host="*"
                android:mimeType="application/json"
                android:pathPattern=".*\\.amk" />
            </intent-filter>

            <intent-filter android:label="@string/app_name">
              <action android:name="android.intent.action.VIEW" />
              <category android:name="android.intent.category.DEFAULT" />
              <category android:name="android.intent.category.BROWSABLE" />
              <data
                android:scheme="https"
                android:host="*"
                android:mimeType="text/plain"
                android:pathPattern=".*\\.amk" />
            </intent-filter>

            <!-- scheme: content -->
            <intent-filter android:label="@string/app_name">
              <action android:name="android.intent.action.VIEW" />
              <category android:name="android.intent.category.DEFAULT" />
              <data
                android:scheme="content"
                android:host="*"
                android:mimeType="application/octet-stream"
                android:pathPattern=".*\\.amk" />
            </intent-filter>

            <intent-filter android:label="@string/app_name">
              <action android:name="android.intent.action.VIEW" />
              <category android:name="android.intent.category.DEFAULT" />
              <data
                android:scheme="content"
                android:host="*"
                android:mimeType="application/json"
                android:pathPattern=".*\\.amk" />
            </intent-filter>

            <intent-filter android:label="@string/app_name">
              <action android:name="android.intent.action.VIEW" />
              <category android:name="android.intent.category.DEFAULT" />
              <data
                android:scheme="content"
                android:host="*"
                android:mimeType="text/plain"
                android:pathPattern=".*\\.amk" />
            </intent-filter>

            <!-- scheme: file -->
            <intent-filter android:label="@string/app_name">
              <action android:name="android.intent.action.VIEW" />
              <category android:name="android.intent.category.DEFAULT" />
              <data
                android:scheme="file"
                android:host="*"
                android:mimeType="application/octet-stream"
                android:pathPattern=".*\\.amk" />
            </intent-filter>

            <intent-filter android:label="@string/app_name">
              <action android:name="android.intent.action.VIEW" />
              <category android:name="android.intent.category.DEFAULT" />
              <data
                android:scheme="file"
                android:host="*"
                android:mimeType="application/json"
                android:pathPattern=".*\\.amk" />
            </intent-filter>

            <intent-filter android:label="@string/app_name">
              <action android:name="android.intent.action.VIEW" />
              <category android:name="android.intent.category.DEFAULT" />
              <data
                android:scheme="file"
                android:host="*"
                android:mimeType="text/plain"
                android:pathPattern=".*\\.amk" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation|screenSize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".BarcodeCaptureActivity"
            android:label="@string/barcode_capture" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize" />

        <activity
            android:name=".InformationActivity"
            android:label="@string/information"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize" />

        <!--
        NOTE:
        Instance state for this ReceiptActivity is managed in the code to
        restore the scroll position after rotation. (instead of configChanges)
        -->
        <activity
            android:name=".ReceiptActivity"
            android:label="@string/receipt"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".WebViewActivity"
            android:label="@string/web_view"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize" />
    </application>
</manifest>
